.column {
    padding: 5px;
    background-color: aliceblue;
    width: 30%;
    height: 33%;
    float: left;
}

.index {
    float: left;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}